<form action="/hello_person">
  <labelfor="name">Please enter your name: </label>
  <input type="text" name="name/>"

  <input type="submit" value"Go"/>
</form>

<% if params[:name].present? %>
  <h1>Hello <%= params[:name] %></hi>
<% end %>
