
p#p01 {
  color: #d0280c
}

p.serif {
    font-family: "Georgia", Times, serif;
    font-style: italic;
    font-style: 40px;
}

body {
  font-family: 'Tangerine', serif;
  font-size: 17px;
}

.img {
    float: left;
    margin: 20px 20px;
}
